<!DOCTYPE html>
<html lang="en">
<head>
    <title>Masternode List</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    </body>
    <style>
        #output{
            width: 500px;
            height:400px;
        }

        /* Bootstrap customization */
        .modal-header,.modal-body{
             background-color:#000;
        }
        .modal-content {
            overflow:hidden;
            background-color:#000;
        }
        table {
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<table class="table table-striped table-bordered table-dark table-sm table-hover">
    <caption>List of inputs</caption>
    <thead>
    <tr>
        <th scope="col" style="width:45%">txid</th>
        <th scope="col" style="width:30%">Actions</th>
        <th scope="col" style="width:35%">scriptpubkey</th>
    </tr>
    </thead>
    <tbody>
    {% for item in inputs %}
    <tr id="row_{{ item.idx }}">
        <th scope="row" >{{item.txid}}<br> vout: {{item.vout}}<br> conf: {{item.confirmations}}</th>
        <td title="{{item.address}}">{{item.address}} <br> amount: {{item.amount}}</td>
        <td title="{{item.scriptPubKey}}">{{item.scriptPubKey}}<br>solvable:{{item.solvable}} / spendable: {{item.spendable}}<br>{{item.ps_rounds}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="#">Create 1000 TX</a>

<br/>
<script type=text/javascript>

    function getInputs()
    {
    }

    function createTx(size, password)
    {
        $.post(rest, {size:size}, function(result){


        })
    }

</script>
</body>
</html>