<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local daemon control</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    </body>
    <style>
        #output{
            width: 500px;
            height:400px;
        }

        /* Bootstrap customization */
        .modal-header,.modal-body{
             background-color:#000;
        }
        .modal-content {
            overflow:hidden;
            background-color:#000;
        }
        table {
            table-layout: fixed;
            word-wrap: break-word;
        }
        textarea {
          /* margin:0px 0px; this is redundant anyways since its specified below*/
          padding-top:10px;
          padding-bottom:25px; /* increased! */
          /* height:16px; */
          /* line-height:16px; */
          width:75%; /* changed from 96 to 100% */
          height:200px;
          display:block;
          /* margin:0px auto; not needed since i have width 100% now */
        }
        #otherTable{
            display:none;
        }
    </style>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<button id="createTx" type="button" class="btn btn-primary">Create 1000 polis TX</button>
<input type="text" value="1000" class="form-control" id="txSize">

<br>.
..Accumulating lesser inputs to empty address
<br>
Resulting signed transaction, can be broadcast on blockexplorer:<br>
<textarea id="signedTx"> </textarea>
<textarea id="detailsTx"> </textarea>

<button id="sendTx" type="button" class="btn btn-primary">Send signed transaction (in text area)</button>

<select class='action form-control input-sm'>
    <option>None</option>
    <option selected id='listinputs'>listinputs</option>
    <option id='listaddressgroupings'>listaddressgroupings</option>
</select>

<button id="findMnOutput" type="button" class="btn btn-primary">Find MN output</button>
<br>
<form>
    <button id="lockTx" type="button" class="btn btn-primary">Lock selected tx</button>
    <table id="inputsTable"
            data-toggle="table"
            data-select-item-name="txid"
            data-url="/local/listinputs"
            class="table table-striped table-bordered table-dark table-sm table-hover">
        <thead>
            <tr>
                <th data-radio="true"></th>
                <th data-field="txid" width="40%">TXID</th>
                <th data-field="vout">vout</th>
                <th data-field="amount">amount</th>
            </tr>
        </thead>
    </table>
</form>


<table id="otherTable"
       data-toggle="table"
       data-url="/local/listaddressgroupings"
       class="table table-striped table-bordered table-dark table-sm table-hover">
    <caption></caption>
    <thead>
        <tr>
            <th data-field="address">address</th>
            <th data-field="amount">amount</th>
        </tr>
    </thead>
</tablei>

<br/>
<script type=text/javascript>

    $('.action').bind('change', function(data){
            $('#otherTable').toggle()
            $('#inputsTable').toggle()
    })
    function masternode(command){
        /*
            Available commands:
          count        - Get information about number of masternodes (DEPRECATED options: 'total', 'ps', 'enabled', 'qualify', 'all')
          current      - Print info on current masternode winner to be paid the next block (calculated locally)
          genkey       - Generate new masternodeprivkey
          outputs      - Print masternode compatible outputs
          start-alias  - Start single remote masternode by assigned alias configured in masternode.conf
          start-<mode> - Start remote masternodes configured in masternode.conf (<mode>: 'all', 'missing', 'disabled')
          status       - Print masternode status information
          list         - Print list of all known masternodes (see masternodelist for more info)
          list-conf    - Print masternode.conf in JSON format
          winner       - Print info on next masternode winner to vote for
          winners      - Print list of masternode winners

        */

        rest = "/local/masternode/"+command
        $.getJSON(rest, {}, function(result){
            console.log(JSON.stringify(result))
        })

    }
    $('#findMnOutput').bind('click', function(){
        mnoutput = ''
        $('#inputsTable').bootstrapTable().data()["bootstrap.table"].data.some(
             function( input ) {
                mnoutput=input.txid+" "+input.vout ;
                return input.amount == 1000
              })

        $('#detailsTx').append("\n\nMasternode output:"+mnoutput)

    })
    $('#lockTx').bind('click', function(){
        /*
        TODO: Shouldbe a better way to get this
        $('#\\otherTable').bootstrapTable().data()["bootstrap.table"].data
        */
        txid = $('tr.selected td')[1].innerText
        vout = $('tr.selected td')[2].innerText

        if( txid == ''){
            alert("Select input, then chose tx first !")
            return;
        }

        lock = "false"

        rest = "/local/lockunspent/"+txid+"/"+vout+"/"+lock
        $.getJSON(rest, {}, function(result){
            $('#detailsTx').append("Tx ID (masternode output..):"+result.txid)
        })
    })

    $('#sendTx').bind('click', function(){

        hex=$('#signedTx').text()

        if( hex == ''){
            $('#signedTx').text("Click create tx first !!!")
            return;
        }

        rest = "/local/send_tx/"+hex
        $.getJSON(rest, {}, function(result){
            $('#detailsTx').append("\nTx ID (masternode output..):"+result.txid)
        })
    })

    $('#createTx').bind('click', function(){
        size = $('#txSize').val() // read from somewhere
        rest = "/local/create_tx/"+size
        $.getJSON(rest, {}, function(result){
            if(result.success == "failed")
            {
               $('#signedTx').text("Problem crreating tx: " + result.message)
               return;
            }
            $('#signedTx').text(result.signed.hex)
            $('#detailsTx').append("Send to addr:"+result.mn_addr)

            result.inputs.forEach(function(input){
                $('#detailsTx').append("\nUse inputs vout:"+input.vout + "  txid: " +input.txid)
                })


            console.log("Received signed transaction:"+result.signed.hex  )
            console.log("address:"+result.mn_addr+"\n")
        })
    })

</script>
</body>
</html>